.ion-color-celeste {
    --ion-color-base: var(--ion-color-celeste);
    --ion-color-base-rgb: var(--ion-color-celeste-rgb);
    --ion-color-contrast: var(--ion-color-celeste-contrast);
    --ion-color-contrast-rgb: var(--ion-color-celeste-contrast-rgb);
    --ion-color-shade: var(--ion-color-celeste-shade);
    --ion-color-tint: var(--ion-color-celeste-tint);


}

.ion-color-azul {
    --ion-color-base: var(--ion-color-azul);
    --ion-color-base-rgb: var(--ion-color-azul-rgb);
    --ion-color-contrast: var(--ion-color-azul-contrast);
    --ion-color-contrast-rgb: var(--ion-color-azul-contrast-rgb);
    --ion-color-shade: var(--ion-color-azul-shade);
    --ion-color-tint: var(--ion-color-azul-tint);
}

.ion-color-blanco {
    --ion-color-base: var(--ion-color-blanco);
    --ion-color-base-rgb: var(--ion-color-blanco-rgb);
    --ion-color-contrast: var(--ion-color-blanco-contrast);
    --ion-color-contrast-rgb: var(--ion-color-blanco-contrast-rgb);
    --ion-color-shade: var(--ion-color-blanco-shade);
    --ion-color-tint: var(--ion-color-blanco-tint);
}

.ion-color-negro {
    --ion-color-base: var(--ion-color-negro);
    --ion-color-base-rgb: var(--ion-color-negro-rgb);
    --ion-color-contrast: var(--ion-color-negro-contrast);
    --ion-color-contrast-rgb: var(--ion-color-negro-contrast-rgb);
    --ion-color-shade: var(--ion-color-negro-shade);
    --ion-color-tint: var(--ion-color-negro-tint);  
}

.ion-color-rosa {
    --ion-color-base: var(--ion-color-rosa);
    --ion-color-base-rgb: var(--ion-color-rosa-rgb);
    --ion-color-contrast: var(--ion-color-rosa-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rosa-contrast-rgb);
    --ion-color-shade: var(--ion-color-rosa-shade);
    --ion-color-tint: var(--ion-color-rosa-tint);
}


    